In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("laptops.csv")
#Load a data file named laptops.csv.

In [15]:
print(df.info())
# Get more information about the data set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB
None

In [19]:
print(df.head())
#Get a quick overview of the DataFrame (First 5 rows)

                                              Laptop Status   Brand  \
0  ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...    New    Asus
1  Alurin Go Start Intel Celeron N4020/8GB/256GB ...    New  Alurin
2  ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...    New    Asus
3  MSI Katana GF66 12UC-082XES Intel Core i7-1270...    New     MSI
4  HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...    New      HP

        Model            CPU  RAM  Storage Storage type       GPU  Screen  \
0  ExpertBook  Intel Core i5    8      512          SSD       NaN    15.6
1          Go  Intel Celeron    8      256          SSD       NaN    15.6
2  ExpertBook  Intel Core i3    8      256          SSD       NaN    15.6
3      Katana  Intel Core i7   16     1000          SSD  RTX 3050    15.6
4         15S  Intel Core i5   16      512          SSD       NaN    15.6

  Touch  Final Price
0    No      1009.00
1    No       299.00
2    No       789.00
3    No      1199.00
4    No       669.01

In [40]:
# Question 1. What is the most expensive laptop in the dataset?

# Sort the DataFrame by the 'Final Price' column in descending order
sorted_df = df.sort_values(by='Final Price', ascending=False)

# Get the most expensive laptop (first row after sorting)
most_expensive_laptop = sorted_df.iloc[0]

#print(most_expensive_laptop)

print(f"The most expensive laptop is '{most_expensive_laptop['Model']}' with a price of ${most_expensive_laptop['Final Price']}.")

The most expensive laptop is 'Raider' with a price of $7150.47.

In [41]:
# Question 1. What is the most expensive laptop in the dataset?

# We use groupby to group the data by the "Brand" column, and then count the number of models for each brand
brand_counts = df.groupby('Brand')['Model'].count()

# To find the brand with the highest count (the brand with the largest variety of models)
largest_variety_brand = brand_counts.idxmax()

print("Brand with the largest variety of models:", largest_variety_brand)

Brand with the largest variety of models: Asus

In [42]:
# Find the brand with the highest count (i.e., the brand with the largest variety of models)
largest_variety_brand = brand_counts.idxmax()

print("Brand with the largest variety of models is:", largest_variety_brand)

Brand with the largest variety of models is: Asus