# Project Description

**Data Analysis of Laptop Specifications: Exploring a dataset of laptops to uncover insights about brands, performance, and pricing. Utilized Python, NumPy, Matplotlib, scipy and pandas for data manipulation and visualization, uncovering correlations, price differentials, and trends in the laptop market.**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind
pd.options.display.max_columns=None
pd.options.display.max_rows=None

In [2]:
#Load a data file named laptops.csv.
df = pd.read_csv("laptops.csv")

In [3]:
# Get more information about the data set. also check whether there are null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [4]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [5]:
#Get a quick overview of the DataFrame (First 5 rows)
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

## Question 1. What is the most expensive laptop in the dataset?

In [6]:
# Sort the DataFrame by the 'Final Price' column in descending order
sorted_df = df.sort_values(by='Final Price', ascending=False)

# Get the most expensive laptop (first row after sorting)
most_expensive_laptop = sorted_df.iloc[0]

print("The most expensive laptop is:")
print(most_expensive_laptop)

The most expensive laptop is:
Laptop          MSI Raider GE78HX 13VH-065ES Intel Core i9-139...
Status                                                        New
Brand                                                         MSI
Model                                                      Raider
CPU                                                 Intel Core i9
RAM                                                            32
Storage                                                      2000
Storage type                                                  SSD
GPU                                                      RTX 4080
Screen                                                       17.0
Touch                                                          No
Final Price                                               7150.47
Name: 1099, dtype: object

**Observation**:
- The most expensive laptop is MSI Raider GE78HX 13VH-065ES Intel Core i9-139

## Question 2. Which brand offers the largest variety of models in the dataset?

In [7]:
# We use groupby to group the data by the "Brand" column, and then count the number of models for each brand
brand_counts = df.groupby('Brand')['Model'].nunique()

# To find the brand with the highest count (the brand with the largest variety of models)
largest_variety_brand = brand_counts.idxmax()
num_models = brand_counts.reset_index()["Model"].max()

print("Brand with the largest variety of models:", largest_variety_brand)
print(f"Number of models in {largest_variety_brand} are {num_models}")

Brand with the largest variety of models: Asus
Number of models in Asus are 20

## Question 3. How many laptops in the dataset have an Intel Core i7 processor?

In [8]:
# Filter laptops with Intel Core i7 processor
intel_core_i7_laptops = df[df["CPU"].str.contains("Intel Core i7", case=False)]

# Get the count of laptops with Intel Core i7 processor and print
total_intel_core_i7_laptops = intel_core_i7_laptops.shape[0]
print("Number of laptops with Intel Core i7 processor:", total_intel_core_i7_laptops)

Number of laptops with Intel Core i7 processor: 710

In [9]:
#another method to solve question 3
len(intel_core_i7_laptops)

710

## Question 4. Which laptop has the highest amount of RAM?

In [10]:
# Sort the DataFrame by the "RAM" column in descending order
df_sorted_by_ram = df.sort_values(by="RAM", ascending=False)

# Select the first row, which will have the highest RAM value
laptop_with_highest_ram = df_sorted_by_ram.iloc[0]

# Print the laptop with the highest amount of RAM
print("Laptop with the highest amount of RAM:")
laptop_with_highest_ram

Laptop with the highest amount of RAM:

Laptop          MSI Titan GT77 HX 13VI-006ES Intel Core i9-139...
Status                                                        New
Brand                                                         MSI
Model                                                       Titan
CPU                                                 Intel Core i9
RAM                                                           128
Storage                                                      2000
Storage type                                                  SSD
GPU                                                      RTX 4090
Screen                                                       17.3
Touch                                                          No
Final Price                                                5999.0
Name: 478, dtype: object

## Question 5. What is the average storage capacity (in GB) of the laptops in the dataset?

In [11]:
# Calculate the average storage capacity in GB, we use mean() function
average_storage_gb = df["Storage"].mean()
max_storage_gb = df["Storage"].max()
min_storage_gb = df["Storage"].min()

# Print the result as float with 2 decimal places
print(f"The average storage capacity of the laptops in the dataset is {average_storage_gb:.2f} GB.")
print(f"The maximum storage capacity of the laptops in the dataset is {max_storage_gb:.2f} GB.")
print(f"The minimum storage capacity of the laptops in the dataset is {min_storage_gb:.2f} GB.")

min_storage_df = df[df["Storage"]== min_storage_gb]
min_storage_df.head()

The average storage capacity of the laptops in the dataset is 596.29 GB.
The maximum storage capacity of the laptops in the dataset is 4000.00 GB.
The minimum storage capacity of the laptops in the dataset is 0.00 GB.

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
189,Portátil Alurin Flex Advance Intel Core I5-115...,Refurbished,Alurin,Flex Advance,Intel Core i5,8,0,NaN,NaN,14.0,No,368.7

## Question 6. How many laptops in the dataset have a touchscreen feature?

In [12]:
num_touchscreen_laptops = df['Touch'].value_counts().get('Yes', 0)
print("Number of laptops with touchscreen feature:", num_touchscreen_laptops)

Number of laptops with touchscreen feature: 227

## Question 7. Which brand offers the most affordable laptop in terms of price?

In [13]:
affordable_laptops_df = df.groupby("Brand").agg(
                        mean_price = ("Final Price",np.mean),
                        median_price = ("Final Price",np.median)
                        ).reset_index()
affordable_laptops_df.sort_values("mean_price", ascending = True)

/tmp/ipykernel_6908/1838809082.py:1: FutureWarning: The provided callable <function mean at 0x7fade82e5a80> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'mean' instead.
  affordable_laptops_df = df.groupby("Brand").agg(
/tmp/ipykernel_6908/1838809082.py:1: FutureWarning: The provided callable <function median at 0x7fade821ade0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'median' instead.
  affordable_laptops_df = df.groupby("Brand").agg(

               Brand   mean_price  median_price
20           Prixton   292.280000       299.940
24           Thomson   316.860000       314.915
6             Denver   329.950000       329.950
19            Primux   339.618750       311.115
10            Innjoo   347.888333       350.315
11           Jetwing   469.270000       469.270
1             Alurin   484.701379       499.000
25           Toshiba   799.000000       799.000
15            Medion   905.331875       546.310
9                 HP   952.628478       727.950
22            Realme   999.000000       999.000
7   Dynabook Toshiba   999.197895       889.000
0               Acer  1001.285766       729.000
26              Vant  1047.455455      1123.000
13            Lenovo  1087.723880       888.040
5               Dell  1153.839881      1003.000
3               Asus  1269.380699       901.990
4        Deep Gaming  1505.377500      1511.000
2              Apple  1578.227672      1491.330
23           Samsung  1595.511364      1580.000
16         Microsoft  1595.543247      1576.270
18             PcCom  1606.762917      1624.450
8           Gigabyte  1698.488958      1555.255
12                LG  1730.028438      1814.010
14               MSI  1913.451006      1703.985
17         Millenium  1976.845000      1976.845
21             Razer  3265.701622      3299.990

## Question 8. What is the distribution of screen sizes among the laptops?

In [14]:
#Get the distribution
distribution = df['Screen'].value_counts()

# Print the distribution
print(distribution)

Screen
15.60    1009
14.00     392
16.00     174
17.30     161
13.30     131
16.10      48
17.00      33
13.00      27
15.00      21
13.40      19
13.50      19
11.60      16
14.20      14
12.30      13
14.10      11
13.60      11
16.20      10
15.30       8
10.50       7
12.40       6
14.40       6
15.40       5
12.00       4
18.00       3
14.50       3
13.90       2
12.50       1
10.95       1
10.10       1
Name: count, dtype: int64

## Question 9. Which laptop has the best price-to-performance ratio, considering both the CPU and GPU?

In [15]:
price_performance_df = df[df["CPU"]=="Intel Core i9"]
price_performance_df = price_performance_df[(price_performance_df["GPU"].isnull()== False) & (price_performance_df["Status"] == "New")]
min_price = price_performance_df["Final Price"].min()
price_performance_df = price_performance_df[price_performance_df["Final Price"] == min_price]
price_performance_df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
998,Acer Nitro 5 AN517-54-9875 Intel Core i9-11900...,New,Acer,Nitro,Intel Core i9,16,512,SSD,RTX 3060,17.3,No,1495.69

In [16]:
price_performance_df = df[df["CPU"]=="Intel Core i7"]
price_performance_df = price_performance_df[(price_performance_df["GPU"].isnull()== False) & (price_performance_df["Status"] == "New")]
min_price = price_performance_df["Final Price"].min()
price_performance_df = price_performance_df[price_performance_df["Final Price"] == min_price]
price_performance_df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
711,ASUS TUF Gaming F15 TUF507ZC4-HN040 Intel Core...,New,Asus,TUF,Intel Core i7,16,512,SSD,RTX 3050,15.6,No,909.99

## Question 10. What is the average price of laptops with an Intel Core i5 processor?

In [17]:
# Filter the DataFrame to include only rows with Intel Core i5 processor and ensure that case  is insensitive.
i5_laptops = df[df['CPU'].str.contains('Intel Core i5', case=False, na=False)]

# Calculate the average price of laptops with Intel Core i5 processor
average_price_i5 = i5_laptops['Final Price'].mean()

print(f"The average price of laptops with Intel Core i5 processor is ${average_price_i5:.2f}")

The average price of laptops with Intel Core i5 processor is $888.38

## Question 11. How many laptops have a screen size of 15.6 inches?

In [18]:
#Remember that data is float
screen_size = df['Screen'].value_counts().get(15.6, 0)
print(f"The number of laptops with a screen size of 15.6 inches is {screen_size}.")

The number of laptops with a screen size of 15.6 inches is 1009.

## Question 12. Among the laptops with touchscreens, which brand has the highest average price?

In [19]:
#Filter laptops with touchscreens
touchscreen_laptops = df[df['Touch'] == 'Yes']

#Group by brand and calculate the average price
average_price_by_brand = touchscreen_laptops.groupby('Brand')['Final Price'].mean()

#Find the brand with the highest average price
highest_average_price_brand = average_price_by_brand.idxmax()
highest_average_price = average_price_by_brand.max()

print(f"The brand with the highest average price among laptops with touchscreens is {highest_average_price_brand}.")
print(f"The average price for laptops from this brand is ${highest_average_price:,.2f}.")

The brand with the highest average price among laptops with touchscreens is MSI.
The average price for laptops from this brand is $2,697.43.

## Question 13 What is the price range for laptops with an NVIDIA RTX 3050 graphics card?

In [20]:
#check the unique values
unique_gpu_values = df['GPU'].unique()
print(unique_gpu_values)

#price range for laptops with an NVIDIA RTX 3050 graphics card
rtx_3050_laptops = df[df['GPU'] == 'RTX 3050']
price_range_rtx_3050 = (rtx_3050_laptops['Final Price'].min(), rtx_3050_laptops['Final Price'].max())

print(f"The price range for laptops with an NVIDIA RTX 3050 graphics card is ${price_range_rtx_3050[0]} to ${price_range_rtx_3050[1]}.")

[nan 'RTX 3050' 'RTX 4060' 'RTX 4050' 'RTX 3060' 'RTX 4070' 'RTX 2050'
 'GTX 1650' 'RTX 3070' '610 M' 'RTX 4080' 'RX 6500M' 'MX 550' 'RTX 3080'
 'RTX 4090' 'RX 7600S' 'A 370M' 'GTX 1660' 'RTX A1000' 'RTX 3000' 'T 1200'
 'Radeon Pro 5300M' 'A 730M' 'Radeon Pro RX 560X' 'RTX A5500'
 'Radeon Pro 5500M' 'T 500' 'T 550' 'RTX A3000' 'T 2000' 'T 600' 'T 1000'
 'Radeon RX 6600M' 'MX 330' 'RTX A2000' 'MX 450' 'RTX 2070' 'RX 6800S'
 'RTX 2080' 'RTX 2060' 'GTX 1050' 'MX 130' 'P 500' 'RX 6700M' 'GTX 1070']
The price range for laptops with an NVIDIA RTX 3050 graphics card is $666.69 to $3999.0.

## Question 14. What is the average RAM capacity for laptops in the dataset?

In [21]:
average_ram_capacity = df['RAM'].mean()
print(f"The average RAM capacity for laptops in the dataset is {average_ram_capacity:.2f} GB.")

The average RAM capacity for laptops in the dataset is 15.41 GB.

## Question 15. Among the laptops with an AMD Ryzen processor, which model has the highest RAM capacity?

In [22]:
ryzen_laptops = df[df['CPU'].str.contains('AMD Ryzen', case=False, na=False)]
max_ram_model = ryzen_laptops.loc[ryzen_laptops['RAM'].idxmax()]['Model']

print(f"The model with the highest RAM capacity among laptops with an AMD Ryzen processor is {max_ram_model}.")

The model with the highest RAM capacity among laptops with an AMD Ryzen processor is ROG.

# PHASE II

# 1. Is there a correlation between CPU type and the final price of the laptop?

In [23]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [24]:
cpu_df = pd.get_dummies(df['CPU'], prefix_sep='_', dtype=int)
price_df = df[['Final Price']]
cpu_price_df = pd.concat([cpu_df, price_df], axis = 1)
cpu_price_df.head()

,AMD 3015Ce,AMD 3015e,AMD 3020e,AMD Athlon,AMD Radeon 5,AMD Radeon 9,AMD Ryzen 3,AMD Ryzen 5,AMD Ryzen 7,AMD Ryzen 9,Apple M1,Apple M1 Pro,Apple M2,Apple M2 Pro,Intel Celeron,Intel Core M3,Intel Core i3,Intel Core i5,Intel Core i7,Intel Core i9,Intel Evo Core i5,Intel Evo Core i7,Intel Evo Core i9,Intel Pentium,Mediatek MT8183,Microsoft SQ1,Qualcomm Snapdragon 7,Qualcomm Snapdragon 8,Final Price
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1009.00
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,299.00
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,789.00
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1199.00
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,669.01

In [25]:
cpu_price_correlation = cpu_price_df.corr()['Final Price']
#cpu_price_correlation = pd.DataFrame(cpu_price_correlation, columns=['cpu_type','corff'])
type(cpu_price_correlation)
cpu_price_correlation.sort_values(ascending = True)

Intel Core i5           -0.267139
Intel Celeron           -0.222402
Intel Core i3           -0.216643
AMD Ryzen 5             -0.159232
AMD Ryzen 3             -0.130201
AMD 3020e               -0.080191
AMD Athlon              -0.068390
Intel Pentium           -0.060489
AMD Ryzen 7             -0.048116
AMD 3015e               -0.035720
Intel Core M3           -0.033251
Qualcomm Snapdragon 7   -0.030084
AMD 3015Ce              -0.023278
Mediatek MT8183         -0.020184
AMD Radeon 5            -0.019216
Qualcomm Snapdragon 8   -0.003202
Intel Evo Core i5        0.006097
Microsoft SQ1            0.011138
Apple M1                 0.013144
Intel Evo Core i9        0.056360
Apple M2                 0.075268
Apple M1 Pro             0.087052
AMD Radeon 9             0.129604
Intel Evo Core i7        0.129952
Apple M2 Pro             0.132177
AMD Ryzen 9              0.184890
Intel Core i7            0.259312
Intel Core i9            0.476910
Final Price              1.000000
Name: Final Price, dtype: float64

# 2. Among laptops with the same CPU, how does the price vary based on RAM and storage configurations?

In [26]:
grouped = df.groupby(['CPU', 'RAM', 'Storage', 'Status']).agg({
    'Final Price': 'mean',
}).reset_index()

# Visualize the relationship using scatter plots
# plt.figure(figsize=(10, 6))
# plt.scatter(grouped['RAM'], grouped['Storage'], c=grouped['Final Price'], cmap='viridis')
# plt.colorbar(label='Mean Final Price')
# plt.xlabel('Mean RAM')
# plt.ylabel('Mean Storage')
# plt.title('Price Variation by RAM and Storage for Different CPUs')
# plt.show()

grouped

                       CPU  RAM  Storage       Status  Final Price
0               AMD 3015Ce    4       32          New   327.000000
1                AMD 3015e    4      128          New   439.826667
2                AMD 3020e    4      128          New   401.218000
3                AMD 3020e    4      256          New   366.333333
4                AMD 3020e    8      256          New   335.336667
5                AMD 3020e    8      256  Refurbished   372.395000
6               AMD Athlon    4       64          New   409.000000
7               AMD Athlon    8      256          New   392.256000
8               AMD Athlon    8      512          New   403.000000
9             AMD Radeon 5    8      256          New   499.000000
10            AMD Radeon 9   32     1000          New  4753.320000
11            AMD Radeon 9   32     2000          New  5630.900000
12             AMD Ryzen 3    8      128          New   579.010000
13             AMD Ryzen 3    8      256          New   497.782333
14             AMD Ryzen 3    8      256  Refurbished   445.596667
15             AMD Ryzen 3    8      512          New   470.325556
16             AMD Ryzen 3    8     1000          New   471.000000
17             AMD Ryzen 5    4      256          New   499.000000
18             AMD Ryzen 5    8      256          New   723.330000
19             AMD Ryzen 5    8      256  Refurbished   616.950000
20             AMD Ryzen 5    8      500          New   509.000000
21             AMD Ryzen 5    8      512          New   686.768222
22             AMD Ryzen 5    8      512  Refurbished   599.918571
23             AMD Ryzen 5   12      256          New   655.340000
24             AMD Ryzen 5   12      512          New   628.255000
25             AMD Ryzen 5   16      256          New   625.410000
26             AMD Ryzen 5   16      500          New   499.000000
27             AMD Ryzen 5   16      512          New   875.787419
28             AMD Ryzen 5   16      512  Refurbished   784.916667
29             AMD Ryzen 5   16     1000          New  1199.000000
30             AMD Ryzen 7    8      256          New   961.418000
31             AMD Ryzen 7    8      512          New   794.191176
32             AMD Ryzen 7    8      512  Refurbished   705.732500
33             AMD Ryzen 7   12      256          New   750.080000
34             AMD Ryzen 7   12      512          New   678.542000
35             AMD Ryzen 7   16      512          New  1206.724035
36             AMD Ryzen 7   16      512  Refurbished   881.895882
37             AMD Ryzen 7   16     1000          New  1484.085714
38             AMD Ryzen 7   16     1000  Refurbished  1214.933214
39             AMD Ryzen 7   32     1000          New  2152.408333
40             AMD Ryzen 7   32     1000  Refurbished  1748.270000
41             AMD Ryzen 9   16      512  Refurbished  1295.890000
42             AMD Ryzen 9   16     1000          New  2456.672857
43             AMD Ryzen 9   16     1000  Refurbished  1580.801429
44             AMD Ryzen 9   32      512          New  1699.010000
45             AMD Ryzen 9   32     1000          New  3003.100000
46             AMD Ryzen 9   32     1000  Refurbished  2389.868000
47             AMD Ryzen 9   64     1000  Refurbished  2871.290000
48             AMD Ryzen 9   64     2000          New  5159.000000
49             AMD Ryzen 9   64     4000  Refurbished  3999.000000
50                Apple M1    8       64          New   449.010000
51                Apple M1    8      256          New  1219.000000
52                Apple M1    8      256  Refurbished  1029.760000
53                Apple M1    8      512          New  1349.000000
54                Apple M1   16      256          New  1349.000000
55                Apple M1   16      512          New  1569.010000
56                Apple M1   16     1000  Refurbished  1999.000000
57                Apple M1   32     1000          New  3849.000000
58            Apple M1 Pro   16      512  Refurbished  2500.010000
59            Apple M1 Pro   16     1000  Refurbished  2785.402000
60            Apple M1 Pro   32     1000  Refurbished  2500.010000
61                Apple M2    8      256          New  1569.000000
62                Apple M2    8      256  Refurbished  1519.000000
63                Apple M2    8      512          New  1849.000000
64                Apple M2   16      256          New  1684.010000
65                Apple M2   16      512          New  1934.010000
66                Apple M2   32     1000          New  3525.670000
67            Apple M2 Pro   16      512          New  2499.002500
68            Apple M2 Pro   16     1000          New  2869.007500
69            Apple M2 Pro   32      512          New  2999.000000
70            Apple M2 Pro   32     1000          New  3239.006667
71           Intel Celeron    4       32          New   306.561250
72           Intel Celeron    4       64          New   349.314375
73           Intel Celeron    4       64  Refurbished   246.890000
74           Intel Celeron    4      128          New   351.639231
75           Intel Celeron    4      128  Refurbished   281.570000
76           Intel Celeron    4      256          New   362.986667
77           Intel Celeron    6       64          New   383.610000
78           Intel Celeron    6      128          New   374.200000
79           Intel Celeron    8       32          New   388.000000
80           Intel Celeron    8       64          New   396.250000
81           Intel Celeron    8       64  Refurbished   385.666667
82           Intel Celeron    8      128          New   498.305000
83           Intel Celeron    8      128  Refurbished   424.000000
84           Intel Celeron    8      256          New   346.540417
85           Intel Celeron    8      256  Refurbished   480.950000
86           Intel Celeron    8      512          New   433.853333
87           Intel Core M3    8       64  Refurbished   549.000000
88           Intel Core M3    8      128          New  1147.670000
89           Intel Core M3    8      256  Refurbished   573.746667
90           Intel Core i3    4      128          New   273.610000
91           Intel Core i3    4      128  Refurbished   499.490000
92           Intel Core i3    4      256          New   600.680000
93           Intel Core i3    8      128          New   743.428000
94           Intel Core i3    8      256          New   533.461268
95           Intel Core i3    8      256  Refurbished   540.518889
96           Intel Core i3    8      512          New   512.362143
97           Intel Core i3    8      512  Refurbished   436.850000
98           Intel Core i5    4       64          New   686.880000
99           Intel Core i5    4      128  Refurbished   299.000000
100          Intel Core i5    4      256  Refurbished   324.000000
101          Intel Core i5    4      500          New   919.830000
102          Intel Core i5    4      500  Refurbished   370.010000
103          Intel Core i5    8        0  Refurbished   368.700000
104          Intel Core i5    8      128          New   920.376667
105          Intel Core i5    8      128  Refurbished   637.601667
106          Intel Core i5    8      240  Refurbished   499.000000
107          Intel Core i5    8      256          New   892.218889
108          Intel Core i5    8      256  Refurbished   760.108358
109          Intel Core i5    8      500          New   580.500000
110          Intel Core i5    8      512          New   800.269709
111          Intel Core i5    8      512  Refurbished   717.812381
112          Intel Core i5    8     1000          New   709.212500
113          Intel Core i5    8     1000  Refurbished   699.000000
114          Intel Core i5   12      256  Refurbished   391.240000
115          Intel Core i5   12      512          New   828.395000
116          Intel Core i5   12      512  Refurbished   425.385000
117          Intel Core i5   16      256          New  1179.003333
118          Intel Core i5   16      256  Refurbished   596.673333
119          Intel Core i5   16      500          New  1094.219091
120          Intel Core i5   16      500  Refurbished   530.000000
121          Intel Core i5   16      512          New  1104.784400
122          Intel Core i5   16      512  Refurbished  1003.747778
123          Intel Core i5   16     1000          New  1011.003333
124          Intel Core i5   16     1000  Refurbished  1287.930000
125          Intel Core i7    8      256          New   890.162500
126          Intel Core i7    8      256  Refurbished   734.105556
127          Intel Core i7    8      500          New   869.000000
128          Intel Core i7    8      512          New   810.741316
129          Intel Core i7    8      512  Refurbished   800.342727
130          Intel Core i7    8     1000  Refurbished   784.690000
131          Intel Core i7   12      512  Refurbished   799.000000
132          Intel Core i7   16      256          New  1504.333333
133          Intel Core i7   16      256  Refurbished  1051.517500
134          Intel Core i7   16      500          New  1414.935455
135          Intel Core i7   16      512          New  1496.738851
136          Intel Core i7   16      512  Refurbished  1148.272549
137          Intel Core i7   16     1000          New  1932.806837
138          Intel Core i7   16     1000  Refurbished  1507.729655
139          Intel Core i7   16     2000          New  2447.718000
140          Intel Core i7   32      500          New  1749.450000
141          Intel Core i7   32      512          New  2460.176000
142          Intel Core i7   32      512  Refurbished  1389.665000
143          Intel Core i7   32     1000          New  2454.100978
144          Intel Core i7   32     1000  Refurbished  2127.298400
145          Intel Core i7   32     2000          New  2362.000000
146          Intel Core i7   32     2000  Refurbished  2067.840000
147          Intel Core i7   40     1000          New  1217.010000
148          Intel Core i7   64     1000          New  1568.005000
149          Intel Core i7   64     2000          New  1615.000000
150          Intel Core i7   64     2000  Refurbished  2373.140000
151          Intel Core i9   16      512          New  1495.690000
152          Intel Core i9   16      512  Refurbished  1410.650000
153          Intel Core i9   16     1000          New  2936.832500
154          Intel Core i9   16     1000  Refurbished  2207.108000
155          Intel Core i9   32     1000          New  3105.400882
156          Intel Core i9   32     1000  Refurbished  3082.545833
157          Intel Core i9   32     2000          New  4515.668571
158          Intel Core i9   32     2000  Refurbished  3432.680000
159          Intel Core i9   32     3000  Refurbished  3499.010000
160          Intel Core i9   64     1000          New  3794.010000
161          Intel Core i9   64     2000          New  4559.830000
162          Intel Core i9   64     2000  Refurbished  4026.687000
163          Intel Core i9  128     2000          New  5999.000000
164      Intel Evo Core i5    8      128          New  1582.000000
165      Intel Evo Core i5    8      256          New  1295.686000
166      Intel Evo Core i5    8      512          New  1393.908000
167      Intel Evo Core i5    8      512  Refurbished  1100.140000
168      Intel Evo Core i5   16      256          New  1778.000000
169      Intel Evo Core i5   16      512          New  1390.639091
170      Intel Evo Core i7    8      256          New  1593.995000
171      Intel Evo Core i7    8      512          New  1619.430000
172      Intel Evo Core i7   16       32          New  1349.000000
173      Intel Evo Core i7   16      256          New  1927.990000
174      Intel Evo Core i7   16      256  Refurbished  1699.990000
175      Intel Evo Core i7   16      512          New  1772.801563
176      Intel Evo Core i7   16      512  Refurbished  1650.742500
177      Intel Evo Core i7   16     1000          New  2127.232222
178      Intel Evo Core i7   16     1000  Refurbished  1949.495000
179      Intel Evo Core i7   32      512          New  2301.770000
180      Intel Evo Core i7   32     1000          New  2130.345556
181      Intel Evo Core i7   32     2000  Refurbished  1882.190000
182      Intel Evo Core i9   32     1000          New  3699.010000
183          Intel Pentium    4      128  Refurbished   561.100000
184          Intel Pentium    8      128          New   546.506667
185          Intel Pentium    8      256          New   401.300000
186        Mediatek MT8183    4       32          New   458.000000
187          Microsoft SQ1    8      128  Refurbished  1049.000000
188          Microsoft SQ1    8      256  Refurbished  1299.000000
189          Microsoft SQ1   16      512          New  2406.350000
190  Qualcomm Snapdragon 7    8       64          New   602.660000
191  Qualcomm Snapdragon 7    8      128          New   565.000000
192  Qualcomm Snapdragon 8    8      256          New   436.560000
193  Qualcomm Snapdragon 8   16      256          New  1997.000000

## Question 3. Is there a significant price difference between laptops with touchscreens and those without?

In [28]:
# Load your data and create two separate datasets: one for laptops with touchscreens and one for laptops without touchscreens.
touchscreen_laptops = df[df['Touch'] == 'Yes']
non_touchscreen_laptops = df[df['Touch'] == 'No']

# Perform an independent t-test
t_statistic, p_value = ttest_ind(touchscreen_laptops['Final Price'], non_touchscreen_laptops['Final Price'], equal_var=False)

print(p_value)
# Define a significance level (e.g., 0.05)
alpha = 0.05

# Compare the p-value with the significance level
if p_value < alpha:
    print("There is a significant price difference between laptops with touchscreens and those without.")
else:
    print("There is no significant price difference between laptops with touchscreens and those without.")
#Check and try with Anova

8.093997320920013e-12
There is a significant price difference between laptops with touchscreens and those without.

## Question 4. Among laptops with the same brand, are there significant differences in the average price based on the model?

In [56]:
acer_laptops = df[df['Brand'] == 'Acer']
acer_laptops = acer_laptops[['Model', 'Final Price']]

acer_laptops.tail()

         Model  Final Price
1727      Book      1499.00
1728  Predator       914.64
1729  Predator      1098.29
1730  Predator      1344.69
1731  Predator      1751.09

In [59]:
for i in acer_laptops['Model'].unique():
    globals()[f'df_{i}'] = acer_laptops[acer_laptops['Model'] == i].drop(columns = ['Model'])
    print(f"df_{i}")

df_Aspire
df_Nitro
df_Extensa
df_Predator
df_Swift
df_Chromebook
df_ConceptD
df_TravelMate
df_Enduro
df_Book

In [61]:
# Perform an independent t-test
t_statistic, p_value = ttest_ind(df_Aspire['Final Price'], df_Swift['Final Price'], equal_var=False)

print(p_value)
# Define a significance level (e.g., 0.05)
alpha = 0.05

# Compare the p-value with the significance level
if p_value < alpha:
    print("There is a significant price difference between Aspire and Swift modells of Acer.")
else:
    print("There is no significant price difference between Aspire and Swift modells of Acer.")
#Check and try with Anova

0.01249162049654138
There is a significant price difference between Aspire and Swift modells of Acer.

## Question 5. Is there a difference in price and performance between laptops with Intel processors and those with AMD processors?

In [64]:
intel_df = df[df['CPU'].str.startswith('Intel')]
amd_df = df[df['CPU'].str.startswith('AMD')]

amd_df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
6,Lenovo Thinkpad E14 Gen 4 AMD Ryzen 5 5625U/8G...,New,Lenovo,ThinkPad,AMD Ryzen 5,8,256,SSD,NaN,14.0,No,909.00
12,ASUS ROG Strix G15 G513RC-HN088 AMD Ryzen 7 68...,New,Asus,ROG,AMD Ryzen 7,16,512,SSD,RTX 3050,15.6,No,1199.00
13,Lenovo V15 G3 ABA AMD Ryzen 5 5625U/16GB/512GB...,New,Lenovo,V15,AMD Ryzen 5,16,512,SSD,NaN,15.6,No,476.99
14,Lenovo IdeaPad 1 15ADA7 AMD Ryzen 3 3250U/8GB/...,New,Lenovo,IdeaPad,AMD Ryzen 3,8,256,SSD,NaN,15.6,No,391.00
21,ASUS M515UA-EJ486W AMD Ryzen 7 5700U/16GB/512G...,New,Asus,M515UA,AMD Ryzen 7,16,512,SSD,NaN,15.6,No,789.00

In [29]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01