In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("laptops.csv")
#Load a data file named laptops.csv.

In [4]:
print(df.info())
# Get more information about the data set. also check whether there are null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB
None

In [19]:
print(df.head())
#Get a quick overview of the DataFrame (First 5 rows)

                                              Laptop Status   Brand  \
0  ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...    New    Asus
1  Alurin Go Start Intel Celeron N4020/8GB/256GB ...    New  Alurin
2  ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...    New    Asus
3  MSI Katana GF66 12UC-082XES Intel Core i7-1270...    New     MSI
4  HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...    New      HP

        Model            CPU  RAM  Storage Storage type       GPU  Screen  \
0  ExpertBook  Intel Core i5    8      512          SSD       NaN    15.6
1          Go  Intel Celeron    8      256          SSD       NaN    15.6
2  ExpertBook  Intel Core i3    8      256          SSD       NaN    15.6
3      Katana  Intel Core i7   16     1000          SSD  RTX 3050    15.6
4         15S  Intel Core i5   16      512          SSD       NaN    15.6

  Touch  Final Price
0    No      1009.00
1    No       299.00
2    No       789.00
3    No      1199.00
4    No       669.01

In [7]:
# Question 1. What is the most expensive laptop in the dataset?

# Sort the DataFrame by the 'Final Price' column in descending order
sorted_df = df.sort_values(by='Final Price', ascending=False)

# Get the most expensive laptop (first row after sorting)
most_expensive_laptop = sorted_df.iloc[0]

print("The most expensive laptop is:")
print(most_expensive_laptop)

The most expensive laptop is:
Laptop          MSI Raider GE78HX 13VH-065ES Intel Core i9-139...
Status                                                        New
Brand                                                         MSI
Model                                                      Raider
CPU                                                 Intel Core i9
RAM                                                            32
Storage                                                      2000
Storage type                                                  SSD
GPU                                                      RTX 4080
Screen                                                       17.0
Touch                                                          No
Final Price                                               7150.47
Name: 1099, dtype: object

In [21]:
# Question 2. Which brand offers the largest variety of models in the dataset?

# We use groupby to group the data by the "Brand" column, and then count the number of models for each brand
brand_counts = df.groupby('Brand')['Model'].count()

# To find the brand with the highest count (the brand with the largest variety of models)
largest_variety_brand = brand_counts.idxmax()

print("Brand with the largest variety of models:", largest_variety_brand)

Brand with the largest variety of models: Asus

In [5]:
# Question 3. How many laptops in the dataset have an Intel Core i7 processor?

# Filter laptops with Intel Core i7 processor
intel_core_i7_laptops = df[df["CPU"].str.contains("Intel Core i7", case=False)]

# Get the count of laptops with Intel Core i7 processor and print
total_intel_core_i7_laptops = intel_core_i7_laptops.shape[0]
print("Number of laptops with Intel Core i7 processor:", total_intel_core_i7_laptops)

Number of laptops with Intel Core i7 processor: 710

In [6]:
# Question 4. Which laptop has the highest amount of RAM?

# Sort the DataFrame by the "RAM" column in descending order
df_sorted_by_ram = df.sort_values(by="RAM", ascending=False)

# Select the first row, which will have the highest RAM value
laptop_with_highest_ram = df_sorted_by_ram.iloc[0]

# Print the laptop with the highest amount of RAM
print("Laptop with the highest amount of RAM:")
print(laptop_with_highest_ram)

Laptop with the highest amount of RAM:
Laptop          MSI Titan GT77 HX 13VI-006ES Intel Core i9-139...
Status                                                        New
Brand                                                         MSI
Model                                                       Titan
CPU                                                 Intel Core i9
RAM                                                           128
Storage                                                      2000
Storage type                                                  SSD
GPU                                                      RTX 4090
Screen                                                       17.3
Touch                                                          No
Final Price                                                5999.0
Name: 478, dtype: object

In [9]:
# Question 5. What is the average storage capacity (in GB) of the laptops in the dataset?

# Calculate the average storage capacity in GB, we use mean() function
average_storage_gb = df["Storage"].mean()

# Print the result as float with 2 decimal places
print(f"The average storage capacity of the laptops in the dataset is {average_storage_gb:.2f} GB.")

The average storage capacity of the laptops in the dataset is 596.29 GB.

In [12]:
# Question 6. How many laptops in the dataset have a touchscreen feature?

num_touchscreen_laptops = df['Touch'].value_counts().get('Yes', 0)
print("Number of laptops with touchscreen feature:", num_touchscreen_laptops)

Number of laptops with touchscreen feature: 227

In [18]:
#Question 7. Which brand offers the most affordable laptop in terms of price?

# Find the minimum final price in the dataset
min_price = df['Final Price'].min()

# Filter the DataFrame to get the rows with the minimum final price
most_affordable_laptops = df[df['Final Price'] == min_price]

# Get the brand(s) that offer the most affordable laptop(s)
most_affordable_brands = most_affordable_laptops['Brand'].unique()

# If there are multiple brands with the same minimum final price, we use a list comprehension to join them as a string
most_affordable_brands_str = ', '.join(most_affordable_brands)

# Print the result
print(f"The most affordable laptop(s) is/are offered by the brand(s): {most_affordable_brands_str}. With a minimum price of: {min_price}")

The most affordable laptop(s) is/are offered by the brand(s): Thomson. With a minimum price of: 201.05

In [20]:
#Question 8. What is the distribution of screen sizes among the laptops?

#Get the distribution
distribution = df['Screen'].value_counts()

# Print the distribution
print(distribution)

Screen
15.60    1009
14.00     392
16.00     174
17.30     161
13.30     131
16.10      48
17.00      33
13.00      27
15.00      21
13.40      19
13.50      19
11.60      16
14.20      14
12.30      13
14.10      11
13.60      11
16.20      10
15.30       8
10.50       7
12.40       6
14.40       6
15.40       5
12.00       4
18.00       3
14.50       3
13.90       2
12.50       1
10.95       1
10.10       1
Name: count, dtype: int64

In [ ]:
#Question 9. Which laptop has the best price-to-performance ratio, considering both the CPU and GPU?

In [6]:
#Question 10. What is the average price of laptops with an Intel Core i5 processor?

# Filter the DataFrame to include only rows with Intel Core i5 processor and ensure that case  is insensitive.
i5_laptops = df[df['CPU'].str.contains('Intel Core i5', case=False, na=False)]

# Calculate the average price of laptops with Intel Core i5 processor
average_price_i5 = i5_laptops['Final Price'].mean()

print(f"The average price of laptops with Intel Core i5 processor is ${average_price_i5:.2f}")

The average price of laptops with Intel Core i5 processor is $888.38

In [18]:
#Question 11. How many laptops have a screen size of 15.6 inches?

#Remember that data is float
screen_size = df['Screen'].value_counts().get(15.6, 0)
print(f"The number of laptops with a screen size of 15.6 inches is {screen_size}.")

The number of laptops with a screen size of 15.6 inches is 1009.

In [21]:
#Question 12. Among the laptops with touchscreens, which brand has the highest average price?

#Filter laptops with touchscreens
touchscreen_laptops = df[df['Touch'] == 'Yes']

#Group by brand and calculate the average price
average_price_by_brand = touchscreen_laptops.groupby('Brand')['Final Price'].mean()

#Find the brand with the highest average price
highest_average_price_brand = average_price_by_brand.idxmax()
highest_average_price = average_price_by_brand.max()

print(f"The brand with the highest average price among laptops with touchscreens is {highest_average_price_brand}.")
print(f"The average price for laptops from this brand is {highest_average_price:.2f}.")

The brand with the highest average price among laptops with touchscreens is MSI.
The average price for laptops from this brand is 2697.43.